@import "spacing.scss";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,800;1,400&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: #fbfbfd;
}

.container {
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;

  max-width: 600px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
input,
textarea {
  font-size: 14px;
  font-family: inherit;
}
